.snip1535 {
    background-color: #4caf9d;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    line-height: 1em;
    outline: none;
    padding: 12px 40px 10px;
    position: relative;
    text-transform: uppercase;

  }
  .snip1535:before,
  .snip1535:after {
    border-color: transparent;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: "";
    height: 24px;
    position: absolute;
    width: 24px;
  }
  .snip1535:before {
    border-color: #4caf9d;
    border-right-width: 2px;
    border-top-width: 2px;
    right: -5px;
    top: -5px;
  }
  .snip1535:after {
    border-bottom-width: 2px;
    border-color: #4caf9d;
    border-left-width: 2px;
    bottom: -5px;
    left: -5px;
  }
  .snip1535:hover,
  .snip1535.hover {
    background-color: #4caf9d;
  }
  .snip1535:hover:before,
  .snip1535.hover:before,
  .snip1535:hover:after,
  .snip1535.hover:after {
    height: 100%;
    width: 100%;
  }
.snip1535-2 {
    background-color: #4caf9d;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    line-height: 1em;
    outline: none;
    padding: 8px 40px;
    position: relative;
    border-radius: 5px;

  }
  .snip1535-2:hover{
    background-color: #21675a;
  }

  .btt{border-radius: 5px;
    bottom:-23px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    background-color: #4caf9d;
    border:4px solid #fdfdfd;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: 1em;
    line-height: 1em;
    outline: none;
    padding: 12px 40px;
    position: absolute;
    border-radius: 10px;
   
  }
  .btt span{
    position: absolute;
    left:15px;
    bottom: 10px;
  }
 